.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 15px;
  margin-bottom: 30px;
  height: 114px;
  width: 100%;
  &::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: calc(1300px - 60px);
    transform: translateX(-50%);
    height: 1px;
    background: var(--yellow);
  }
  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
