.basket {
  padding: 11px 25px 10px 25px;
  font-size: 16px;
  font-weight: 600;
}

.table {
  width: 100%;

  tbody {
    tr {
      &:nth-child(2n+1) {
        background: var(--light-gray);
      }
    }
  }

  thead th, tbody td {
    padding: 9px 5px 4px;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:nth-child(2) {
      padding-bottom: 8px;
      max-width: 85px;
      min-width: 85px;
      width: 85px;
    }

    &:nth-child(3) {
      max-width: 70px;
      min-width: 70px;
      width: 70px;
    }

    &:nth-child(4) {
      max-width: 32px;
      min-width: 32px;
      width: 32px;
    }
  }
}

.delete_button {
  padding: 0;
  background: transparent;

  svg {
    stroke: var(--red);
    transition: stroke 0.3s ease;
  }

  &:hover svg {
    stroke: var(--orange);
  }

  &:active svg {
    stroke: var(--black);
  }
}

.not_found {
  padding: 30px;
  font-size: 18px;
  text-align: center;
}