.list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.button {
  width: 20px;
  height: 20px;
  font-weight: 600;
  border-radius: 4px;
}