.icon {
  width: 15px;
  opacity: 0.5;
  fill: var(--middle-gray);
  transition: fill 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  &:hover {
    opacity: 1;
    fill: var(--orange)
  }
  &:active {
    transform: scale(1.1, 1.1);
  }
}