.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 15px;
  margin-bottom: 35px;
  height: 114px;
  width: 100%;
  &Container {
    width: 100%;
  }
  &Top, &Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
  }
  &Bottom {
    border-bottom: 1px solid var(--yellow);
  }
}
