.button {
  position: absolute;
  top: 8px;
  right: 312px;
  padding: 0;
  background: none;
  animation: visible 0.4s ease;
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}