h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}
