:root {
  --black: #0e0c0d;
  --white: #fff;
  --gray: #686466;
  --light-gray: #f3f3f7;
  --middle-gray: #696f7a;
  --light-middle-gray: #c4c4c4;
  --orange: #fe841a;
  --yellow: #ffe368;
  --red: #f63e31;
}
